  /* HTML: <div class="loader"></div> */
  .loader {
      width: 50px;
      aspect-ratio: 1;
      display: grid;
      border: 5px solid #0000;
      border-radius: 50%;
      border-right-color: #25b09b;
      animation: l15 1s infinite linear;
  }

  .loader::before,
  .loader::after {
      content: "";
      grid-area: 1/1;
      margin: 2px;
      border: inherit;
      border-radius: 50%;
      animation: l15 2s infinite;
  }

  .loader::after {
      margin: 8px;
      animation-duration: 3s;
  }

  @keyframes l15 {
      100% {
          transform: rotate(1turn)
      }
  }

  /* HTML: <div class="loader"></div> */
  .pulsing {
      width: 20px;
      aspect-ratio: 1;
      border-radius: 50%;
      background: #ffffff;
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.267);
      animation: l1 1s infinite;
  }

  @keyframes l1 {
      100% {
          box-shadow: 0 0 0 30px #0000
      }
  }